<div class="container">

  <div class="iterated-obj">
    <p>This is iterated Object</p>
    <ng-container *appNgForObject="let propertyName from myObject; let index=propertyName">
      <p>[{{ index }}] {{ propertyName }}: {{ myObject[propertyName] }}</p>
    </ng-container>
  </div>

  <div class="iterated-arr">
    <p>This is iterated Array</p>
    <ng-container *appNgForObject="let item from myArray; let index=index">
      <p>[{{ index }}]: {{ item }}</p>
    </ng-container>
  </div>


</div>
